.image-action-bar {
  background-color: #00000096;
  position: absolute;
  width: -webkit-fill-available;
  bottom: 0;
}


.action-bar-content {
  display: block;
}


.image-description {
  color: white;
  padding: 5px 8px;
  padding-bottom: 12px;
}


.displayed-image {
  height: 100%;
  object-fit: cover;
}

.image-action {
  object-fit: cover;
  height: 100%;
  background-color: aquamarine;
}

.image-action button {
  background-color: aquamarine;
}

.displayed-description {
  color: black;
}

.image-area {
  height: auto;
  min-height: 600px;
}